* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.pokedex-list {
  display: flex;
  flex-wrap: wrap;
}

.pokedex-card {
  display: flex;
  margin: 15px;
  flex: 500px;
  border-radius: 15px;
  justify-content: space-around;
  border: 1px solid black;
}

.pokedex-card p {
  margin: 10px;
  width: 200px;
}
